<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% include includes/head.html %} 
    <script src="js/getOperadores.js"></script>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      {% include includes/navbar.html %}
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      {% include includes/sidebar.html %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>{{ variaveis["title"] }}</h1>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-12">
              <div class="btnExport" hidden></div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"></h3>
                  <button type="button" class="btn btn-default bg-gradient-primary btn-sm addOperador" data-toggle="modal" data-target="#modal-create_edit">Adicionar [+]</button>
                  <div class="dropdown float-right dropleft">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button type="button" class="dropdown-item btnCopy">Copiar</button>
                      <div class="dropdown-divider"></div>
                      <button type="button" class="dropdown-item btnPDF">PDF</button>
                      <div class="dropdown-divider"></div>
                      <button type="button" class="dropdown-item btnExcel">Excel</button>
                      <div class="dropdown-divider"></div>
                      <button type="button" class="dropdown-item btnPrint">Imprimir</button>
                    </div>
                    <button type="button" class="btn btn-secondary bg-gradient-primary btn-sm" id="dropdownMenuButton" data-toggle="dropdown">
                      <i class="nav-icon fas fa-download"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="dataTable" class="table table-bordered table-striped classTable">
                    <thead>
                    <tr>
                      <th>Nº</th>
                      <th>Nome</th>
                      <th>Apelido</th>
                      <th>Login</th>
                      <th>Data Início</th>
                      <th>Data Fim</th>
                      <th>Tipo</th>
                      <th>Monitor</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for t in operadores %}
                        <tr>
                          <td>{{ t['ID'] }}</td>
                          <td>{{ t['NOME'] }}</td> 
                          <td>{{ t['APELIDO'] }}</td> 
                          <td>{{ t['LOGIN'] }}</td>
                          <td>{{ dateFormat(t['DATA_INICIO']) }}</td> 
                          <td>{% if t['DATA_FIM'] != '' %}{{ t['DATA_FIM'] }}{% end %}</td>
                          <td>{{ t['TIPO_ATENDIMENTO'] }}</td>
                          <td>{{ t['MONITOR'] }}</td>
                          <td class="text-center py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                              <a href="" class="btn btn-info editOperador" data-toggle="modal" data-target="#modal-create_edit" id="{{ str(t['ID'])+'|'+t['NOME']+'|'+t['LOGIN']+'|'+str(t['DATA_INICIO'])+'|'+str(t['DATA_FIM'])+'|'+str(t['ID_MONITOR'])+'|'+str(t['APELIDO'])+'|'+str(t['TIPO_ATENDIMENTO']) }}"><i class="fas fa-user-edit"></i></a>
                              <a href="" class="btn btn-danger delOperador" data-toggle="modal" data-target="#modal-delete" id="{{ str(t['ID'])+'|'+t['NOME']+'|'+t['LOGIN']+'|'+str(t['DATA_INICIO'])+'|'+str(t['DATA_FIM']) }}"><i class="fas fa-trash"></i></a>
                            </div>
                          </td>
                        </tr>
                      {% end %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>

        <!-- /.row -->
        <!-- Modal do delete -->
        <div class="modal fade" id="modal-delete">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Exclusão</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="modalBody"></p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDelete">Excluir</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.Modal do delete -->
        <!-- Modal do adicionar/editar -->
        <div class="modal fade" id="modal-create_edit">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title titleModal"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label for="txNome">Nome</label>
                    <input type="text" class="form-control" id="txNome" placeholder="Digitar...">
                  </div>
                  <div class="form-group">
                    <label for="txApelido">Apelido</label>
                    <input type="text" class="form-control" id="txApelido" placeholder="Digitar...">
                  </div>
                  <div class="form-group">
                    <label for="txLoginOperador">Login</label>
                    <input type="text" class="form-control" id="txLoginOperador" placeholder="Digitar...">
                  </div>
                  <div class="form-group">
                    <label for="txDataInicio">Data Inicio</label>
                    <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" id="txDataInicio" data-target="#txDataInicio"/>
                  </div>
                  <div class="form-group">
                    <label for="txDataFim">Data Fim (opcinal)</label>
                    <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" id="txDataFim" data-target="#txDataFim"/>
                  </div>
                  <div class="form-group">
                    <label>Tipo Atendimento</label>
                    <select class="form-control" id="slTipoAtendimento">
                      <option value="2">Selecione</option>
                      <option value="Externo">Externo</option>
                      <option value="Interno">Interno</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Monitor</label>
                    <select class="form-control" id="slMonitor">
                      <!-- option value="2">Gestor</option -->
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnOK"></button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.Modal do editar -->

        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      {% include includes/footer.html %}

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    {% include includes/foot.html %}
    
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

  </body>
</html>